<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ikoko.top.word.dao.ArticleMapper" >
    <sql id="articleColumnsWithOutMp3">
        a.id, title,a.status,word_num as wordNum ,CASE when mp3 is NULL then 0 else 1 END as hasMp3
    </sql>
    
    <sql id="articleColumns">
        id ,title,mp3,status,word_num
    </sql>
    
    <sql id="articleJoins">
        LEFT JOIN w_article_user_rel b ON a.id = b.article_id
    </sql>
    
    <select id="count" resultType="int">
        SELECT count(1) FROM w_article a <include refid="articleJoins"/>
        <where>
            a.status = '0'
            <if test="page.entity.user != null and page.entity.user.id != null and page.entity.user.id != ''">
	            and b.user_id = #{page.entity.user.id}
	        </if>
        </where>
    </select>

    <select id="findPage" resultType="com.ikoko.top.word.entity.Article">
        SELECT <include refid="articleColumnsWithOutMp3"/> FROM w_article a <include refid="articleJoins"/>
        <where>
            a.status = '0'
            <if test="page.entity.id!=null and page.entity.id!=''">
                and b.user_id = #{page.entity.id}
            </if>
        </where>
        <if test="page.orderBy!=''">
             ORDER BY ${page.orderBy} LIMIT ${page.pageNo*page.pageSize},${page.pageSize}
        </if>
    </select>
    
    <select id="get" resultType="com.ikoko.top.word.entity.Article">
        SELECT 
            <include refid="articleColumns"/>
        FROM w_article WHERE status='0' and id = #{id}
    </select>
</mapper>